BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Regroup
FixNamespaceComments: true
SpacesInAngles:  false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
ReflowComments: true
